@use 'variables' as *;

// mixins to take care of repeated patterns/styling.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin uppercase($color: $text-light) {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}

// these styles here should describe how the atoms (elements) should appear most of the time.
// They can be overridden at the molecule (block) as necessary

h2,
h3,
h4 {
  font-family: $fonts-headline;
  margin: 0;
  color: $accent2;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
}

h3 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1em;
  margin-top: 10px;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  @include set-font(1em, 1.5em);
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  color: $text-light;
  // text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  color: #E49869;
  border-color: #E49869;
}
