// IMPORT ZEN PROJECT FONT
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

$fonts-headline: 'Oswald', sans-serif;
$fonts-body: 'Oswald', sans-serif;
$background-color: #482D27;
$primary: #573A35;
$accent1: #482D27;
$accent2: #E49869;
$text-light: #FFFFFF;
$link-color-alt: #5a2504fa;
$small-view-content-width: 370px;