@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  margin: 0;
  color: #E49869;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
}

h3 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1em;
  margin-top: 10px;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  color: #E49869;
  border-color: #E49869;
}

.page-wrapper {
  display: block;
}

/* INTRO-BANNER STYLES */
.intro {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #482D27;
}

header {
  grid-column: 1;
  grid-row: 1/2;
  min-height: 80vh;
  width: 100%;
  background: url("./images/banner5.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

header h1 {
  margin-left: -0.5rem;
}

header h2 {
  width: 280px;
  color: #44210B;
  font-size: 60px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: -2rem;
  line-height: 80px;
}

.summary {
  grid-column: 1;
  grid-row: 1/2;
  display: flex;
  color: #EEEEEE;
  font-size: 17px;
  margin-top: 12rem;
  margin-left: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.summary p:nth-child(1) {
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
}

.summary p:nth-child(2) {
  margin-right: 5rem;
}

.summary a {
  color: rgba(90, 37, 4, 0.9803921569);
}

.preamble {
  width: 370px;
  grid-column: 1;
  grid-row: 3/4;
  padding: 5px;
  margin: 1rem;
  background-color: #482D27;
}

aside {
  padding: 15px;
  width: 370px;
}

.main {
  display: block;
}

.explanation {
  padding: 5px;
  margin: 0.5rem;
  width: 370px;
}

.participation {
  padding: 10px;
  margin: 10px;
  width: 370px;
  background-color: #482D27;
  border-radius: 10px;
}

.benefits {
  padding: 5px;
  margin: 10px;
  width: 370px;
}

.requirements {
  padding: 10px;
  margin: 10px;
  width: 370px;
  background-color: #482D27;
  border-radius: 10px;
}

footer {
  padding: 5px;
  margin: 0.5rem;
  width: 370px;
}

/* MAIN SECTION STYLES */
.main {
  width: 280px;
  margin: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  background-color: #573A35;
  margin: 0;
  padding: 0;
}

abbr[title] {
  text-decoration: none;
}

/* MEDIUM VIEW - 39em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 39em) {
  body {
    font-size: 1.1rem;
    background-image: repeating-radial-gradient(#482D27 0 8%, #573A35 8% 16%);
  }
  h3 {
    text-align: center;
  }
  .page-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 12fr 3fr 100px;
  }
  /* INTRO-BANNER STYLES */
  .intro {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  aside {
    grid-column: 2 / 3;
    height: 1000px;
    width: 500px;
    padding: 15px;
    background: url("./images/aside.jpg") center/cover no-repeat;
    border-radius: 10px;
  }
  /* MAIN SECTION GRID */
  .main {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 75px 12fr 4fr;
    background-color: #573A35;
  }
  .explanation {
    grid-column: 2/-1;
    padding: 10px;
    width: 600px;
    max-width: 600px;
  }
  .participation {
    grid-column: 2/3;
    background-color: #482D27;
    padding: 10px;
    margin: 0;
    width: auto;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .benefits {
    grid-column: 3/4;
    padding: 0;
    width: auto;
    margin: 10px;
  }
  .requirements {
    grid-column: 2/-1;
    width: auto;
    padding: 10px;
    margin: 0;
    background: url("./images/map-of-africa.png") center/cover no-repeat;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  footer {
    grid-column: 1/-1;
    text-align: center;
  }
  /* END OF MAIN SECTION GRID */
  header {
    grid-column: 1;
    grid-row: 1/2;
    min-height: 60vh;
    width: 100%;
    background: url("./images/banner1.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  header h1 {
    color: #C7B8B8;
    margin-bottom: 15rem;
    margin-left: 17rem;
  }
  header h2 {
    width: auto;
    color: #44210B;
  }
  .summary {
    width: auto;
    grid-column: 1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .summary {
    color: #EEEEEE;
    font-size: 17px;
  }
  .summary p:nth-child(1) {
    font-size: 20px;
    text-transform: uppercase;
    width: 28rem;
    margin-top: -3rem;
    margin-left: 35rem;
  }
  .summary p:nth-child(2) {
    margin-left: 29.5rem;
  }
  .summary a {
    color: #EEEEEE;
    font-weight: bold;
    font-style: italic;
  }
  .preamble {
    width: auto;
    grid-column: 1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: repeat(3, auto);
  }
  .preamble h3 {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .preamble h3::before {
    background-color: white;
    content: "";
    height: 5px;
    width: 260px;
    position: absolute;
    left: 50px;
    top: 65px;
    border-radius: 5px;
  }
  .preamble h3::after {
    background-color: white;
    content: "";
    height: 5px;
    width: 260px;
    position: absolute;
    left: 50px;
    bottom: 65px;
    border-radius: 5px;
  }
  .preamble p:nth-child(1) {
    grid-column: 2/-1;
    grid-row: 1/2;
  }
  .preamble p:nth-child(2) {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
  .preamble p:nth-child(3) {
    grid-column: 2/-1;
    grid-row: 3/-1;
  }
  /* MAIN SECTION STYLES */
  .main {
    width: auto;
    margin: 0.5rem;
  }
  .sidebar {
    width: auto;
    margin: 0.5rem;
  }
}
/*LARGE SCREEN 64em is also 1028px (if base-font is 16px) */
@media only screen and (min-width: 64rem) {
  h2 {
    font-size: 4em;
  }
  /* INTRO-BANNER STYLES */
  aside {
    height: 1005px;
    padding: 7px;
  }
  /* MAIN SECTION GRID */
  .explanation {
    width: 850px;
    max-width: 850px;
  }
  header {
    min-height: 90vh;
  }
  .preamble h3::before {
    height: 7px;
    width: 360px;
    top: 55px;
    left: 29px;
  }
  .preamble h3::after {
    height: 7px;
    width: 360px;
    bottom: 55px;
    left: 29px;
  }
  h2 {
    font-size: 4em;
  }
}

/*# sourceMappingURL=style.css.map */
